<div class="table-of-contents">
  <h3 class="toc-title">Table des matières</h3>
  <a href="#disposition-generales" class="toc-link">DISPOSITION GENERALES</a>
  <ul class="toc-list">
    <li class="toc-item">
      <a href="#chapitre 1" class="toc-link toc-chapter"
        >CHAPITRE 1 - DESTINATION DES CONSTRUCTIONS, USAGE DES SOLS, ACTIVITÉS
        ET INSTALLATIONS, MIXITÉ FONCTIONNELLE ET SOCIALE</a
      >
      <ul class="toc-list">
        <li class="toc-item">
          <a href="#section1" class="toc-link toc-section"
            >1 - CONSTRUCTIONS, USAGES ET AFFECTATIONS DES SOLS, ACTIVITÉS ET
            INSTALLATIONS INTERDITS
          </a>
        </li>
        <li class="toc-item">
          <a href="#section2" class="toc-link toc-section"
            >2 - CONSTRUCTIONS, USAGES ET AFFECTATIONS DES SOLS, ACTIVITÉS ET
            INSTALLATIONS SOUMISES À CONDITIONS PARTICULIÈRES
          </a>
        </li>
        <li class="toc-item">
          <a href="#section3" class="toc-link toc-section"
            >3 - MIXITÉ FONCTIONNELLE ET SOCIALE
          </a>
        </li>
      </ul>
    </li>
    <li class="toc-item">
      <a href="#chapitre 2" class="toc-link toc-chapter"
        >CHAPITRE 2 - CARACTÉRISTIQUES URBAINES, ARCHITECTURALES,
        ENVIRONNEMENTALES ET PAYSAGÈRES</a
      >
      <ul class="toc-list">
        <li class="toc-item">
          <a href="#section4" class="toc-link toc-section"
            >4 - IMPLANTATION ET VOLUMÉTRIE DES CONSTRUCTIONS ET DES
            INSTALLATIONS
          </a>
        </li>
        <li class="toc-item">
          <a href="#section5" class="toc-link toc-section"
            >5 - QUALITÉ URBAINE, ARCHITECTURALE, ENVIRONNEMENTALE ET
            PAYSAGÈRE</a
          >
        </li>
        <li class="toc-item">
          <a href="#section6" class="toc-link toc-section"
            >6 - TRAITEMENT ENVIRONNEMENTAL ET PAYSAGER DES ESPACES NON BÂTIS,
            DES CONSTRUCTIONS ET DE LEURS ABORDS
          </a>
        </li>
      </ul>
    </li>
    <li class="toc-item">
      <a href="#chapitre 3" class="toc-link toc-chapter"
        >CHAPITRE 3 - EQUIPEMENTS ET RÉSEAUX</a
      >
      <ul class="toc-list">
        <li class="toc-item">
          <a href="#section7" class="toc-link toc-section"
            >7 - STATIONNEMENT
          </a>
        </li>
        <li class="toc-item">
          <a href="#section8" class="toc-link toc-section"
            >8 - DESSERTE PAR LES VOIES PUBLIQUES ET PRIVÉES
          </a>
        </li>
        <li class="toc-item">
          <a href="#section9" class="toc-link toc-section"
            >9 - DESSERTE PAR LES RÉSEAUX
          </a>
        </li>
        <li class="toc-item">
          <a href="#section10" class="toc-link toc-section"
            >10 - ENERGIE ET PERFORMANCES ÉNERGÉTIQUES</a
          >
        </li>
      </ul>
    </li>
  </ul>
</div>
