/* Système de grille */
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
}

.grid-col-4 {
    width: 33.33%;
    padding: 0 12px;
    margin: 0 auto;
}

/* Responsive for grid */
@media (max-width: 768px) {
    .grid-col-4 {
        width: 100%;
    }
}